<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3RA_EVA_7_LISTA_ARCHIVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>914A1B091EC4C661004085EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914A1B1D1EC4C661004085EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914A1B281EC4C661004085EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
